extends ../layout

block content
  h2= title
  .row
    .col-md-3
      .list-group
        li.list-group-item All Unverified Records
          span.badge= all
        a.list-group-item(href='/verifications/readings') Reading & Vocabulary
          if (result.Readings != 0)
            span.badge= result.Readings
        a.list-group-item(href='/verifications/speakings') Speaking & Listening
          if (result.Speakings != 0)
            span.badge= result.Speakings
        a.list-group-item(href='/verifications/writings') Writing & Gramar
          if (result.Writings != 0)
            span.badge= result.Writings
        a.list-group-item(href='/verifications/toefl_preps') TOEFL Preparation
          if (result.Toefl_preps != 0)
            span.badge= result.Toefl_preps
        a.list-group-item(href='/verifications/extensive_listenings') Extensive Listening
          if (result.Extensive_listenings != 0)
            span.badge= result.Extensive_listenings
        a.list-group-item(href='/verifications/interviews') Interview
          if (result.Interviews !=0)
            span.badge= result.Interviews
        a.list-group-item(href='/verifications/recommendations') Teacher Recommendation
          if (result.Recommendations != 0)
            span.badge= result.Recommendations
        a.list-group-item(href='/verifications/toefls') TOEFL
          if (result.Toefls != 0)
            span.badge= result.Toefls
        a.list-group-item(href='/verifications/timed_writings') Timed Writing
          if (result.Timed_writings != 0)
            span.badge= result.Timed_writings

